{% extends "songbook/base.html" %}

{% block content %}

<section class="posts">
    <article>
        <header>
<!--            <span class="date">April 24, 2017</span>-->
            <h2><a href="/songbook/setlists/">Worship Plans</a></h2>
        </header>
<!--        <a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>-->
        <p>View all worship plans.</p>
<!--        <ul class="actions special">-->
<!--            <li><a href="#" class="button">View</a></li>-->
<!--        </ul>-->
    </article>
    <article>
        <header>
<!--            <span class="date">April 22, 2017</span>-->
            <h2><a href="/songbook/songs/">Song Library</a></h2>
        </header>
<!--        <a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>-->
        <p>Browse all the songs we have sung.</p>
<!--        <ul class="actions special">-->
<!--            <li><a href="#" class="button">View</a></li>-->
<!--        </ul>-->
    </article>

{% endblock content %}
