{% load static %}

<!-- Scripts -->
<script src="{% static 'songbook/js/jquery.min.js' %}"></script>
<script src="{% static 'songbook/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'songbook/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'songbook/js/browser.min.js' %}"></script>
<script src="{% static 'songbook/js/breakpoints.min.js' %}"></script>
<script src="{% static 'songbook/js/util.js' %}"></script>
<script src="{% static 'songbook/js/main.js' %}"></script>
